body{
background-color: rgb(97, 11, 34);
}
h1{
    color: bisque;
    text-align: center;
}
h2{
    color: bisque;
    text-align: center;
}
h3{
    color: bisque;
    text-align: center;
}
title{
    color: bisque;
}
h4{
    color: bisque;
    font-size: xx-large;
    text-align: center;
}